<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <button
    pButton
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right"
    type="button"
    label="Click"
    (click)="mostrarNombre()"
  ></button>
  <p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      exercitationem magnam laudantium eius at earum, molestias porro fuga, quas
      sint similique nam dignissimos dolore beatae! Commodi quisquam sint
      deserunt voluptate.
    </p>
  </p-card>
</div> -->
